1. Inicialmente iremos preparar o ambiente, definindo o diretório onde nosso código será desenvolvido. Para este diretório iremos copiar o arquivo nomes_aleatorios.txt.
Após, em nosso script Python, devemos importar as bibliotecas necessárias:
Nesta etapa, adicione código para ler o arquivo nomes_aleatorios.txt através do comando spark.read.csv. Carregue-o para dentro de um dataframe chamado df_nomes e, por fim, liste algumas linhas através do método show. Exemplo: df_nomes.show(5)

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark import SparkContext, SQLContext
import pandas as pd
import random
import numpy as np

spark = (SparkSession \
            .builder \
            .master("local[*]")\
            .appName("Resolucao") \
            .getOrCreate())

sc = SparkContext.getOrCreate()
df_nomes = spark.read.csv("nomes_aleatorios.txt")
df_nomes.show(5)

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

2. No Python, é possível acessar uma coluna de um objeto dataframe pelo atributo (por exemplo df_nomes.nome) ou por índice (df_nomes['nome']). Enquanto a primeira forma é conveniente para a exploração de dados interativos, você deve usar o formato de índice, pois caso algum nome de coluna não esteja de acordo seu código irá falhar.

Como não informamos no momento da leitura do arquivo, o Spark não identificou o Schema por padrão e definiu todas as colunas como string. Para ver o Schema, use o método df_nomes.printSchema().

Nesta etapa, será necessário adicionar código para renomear a coluna para Nomes, imprimir o esquema e mostrar 10 linhas do dataframe.

In [2]:
df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")
df_nomes.show(10)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

3. Ao dataframe (df_nomes), adicione nova coluna chamada Escolaridade e atribua para cada linha um dos três valores de forma aleatória: Fundamental, Medio ou Superior.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [3]:
def array_choice(col):
    index = (F.rand()*F.size(col)).cast("int")
    return col[index]

cols = list(map(lambda col_name: F.lit(col_name), ['Fundamental', 'Medio', 'Superior']))

df_nomes = df_nomes.withColumn("Escolaridade", array_choice(F.array(*cols)))

df_nomes.show(50)

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet|       Medio|
|    Jamie Russell| Fundamental|
|   Edward Kistler|       Medio|
|    Sheila Maurer| Fundamental|
| Donald Golightly|    Superior|
|       David Gray|       Medio|
|      Joy Bennett| Fundamental|
|      Paul Kriese|       Medio|
|Berniece Ornellas| Fundamental|
|    Brian Farrell|    Superior|
|   Kara Mcelwaine|       Medio|
|    Tracy Herring| Fundamental|
|  Howard Lazarine|       Medio|
|     Leroy Strahl|       Medio|
|     Ernest Hulet|    Superior|
|     David Medina|    Superior|
|   Lorenzo Woodis|       Medio|
|      Page Marthe|    Superior|
|   Herbert Morris|       Medio|
|      Albert Leef|       Medio|
|     Charles Hill| Fundamental|
|  Helen Blackwell| Fundamental|
|          Lois Ly|    Superior|
|     Rebecca Snow| Fundamental|
|      Frank Wiley|    Superior|
| Wallace Mitchell|    Superior|
|   Amanda Gravitt| Fundamental|
|   Gabriel Colyer|       Medio|
|         Mary Lee| Fundamental|
|       Daryl Page|    Superior|
|     Roxie Bernal| Fundamental|
|   Wilfredo Grant| Fundamental|
|   Katrina Graham| Fundamental|
|  Jerry Chynoweth|       Medio|
|      Jessie Jean|    Superior|
|  Kenneth Rayburn|       Medio|
|       Anita Ross| Fundamental|
|   Mary Dillahunt| Fundamental|
|       John Meyer|    Superior|
|      Sandra Todd| Fundamental|
|    Ricky Gilbert|       Medio|
|    Michael Agnew|    Superior|
|   Rosie Lovelady|    Superior|
|      Donald Vogt|    Superior|
| Flossie Anderson| Fundamental|
|      Lisa Baxley|    Superior|
|    Milton Dillon|    Superior|
|       Ned Tester|    Superior|
|     James Barton|       Medio|
|    Lynne Dustman|       Medio|
+-----------------+------------+
only showing top 50 rows

4. Ao dataframe (df_nomes), adicione nova coluna chamada Pais e atribua para cada linha o nome de um dos 13 países da América do Sul, de forma aleatória.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [4]:
cols = list(map(lambda col_name: F.lit(col_name), ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Equador', 'Guiana', 'Guiana Francesa', 'Paraguai', 'Peru', 'Suriname', 'Uruguai', 'Venezuela']))

df_nomes = df_nomes.withColumn("Pais", array_choice(F.array(*cols)))

df_nomes.show(50)

+-----------------+------------+---------------+
|            Nomes|Escolaridade|           Pais|
+-----------------+------------+---------------+
|   Frances Bennet|       Medio|       Paraguai|
|    Jamie Russell| Fundamental|        Uruguai|
|   Edward Kistler|       Medio|      Argentina|
|    Sheila Maurer| Fundamental|         Guiana|
| Donald Golightly|    Superior|        Equador|
|       David Gray|       Medio|        Uruguai|
|      Joy Bennett| Fundamental|       Paraguai|
|      Paul Kriese|       Medio|        Bolivia|
|Berniece Ornellas| Fundamental|       Suriname|
|    Brian Farrell|    Superior|       Colombia|
|   Kara Mcelwaine|       Medio|       Paraguai|
|    Tracy Herring| Fundamental|         Guiana|
|  Howard Lazarine|       Medio|        Uruguai|
|     Leroy Strahl|       Medio|       Suriname|
|     Ernest Hulet|    Superior|       Paraguai|
|     David Medina|    Superior|         Guiana|
|   Lorenzo Woodis|       Medio|          Chile|
|      Page Marthe|    Superior|         Guiana|
|   Herbert Morris|       Medio|Guiana Francesa|
|      Albert Leef|       Medio|        Bolivia|
|     Charles Hill| Fundamental|        Bolivia|
|  Helen Blackwell| Fundamental|          Chile|
|          Lois Ly|    Superior|       Paraguai|
|     Rebecca Snow| Fundamental|       Suriname|
|      Frank Wiley|    Superior|       Suriname|
| Wallace Mitchell|    Superior|       Colombia|
|   Amanda Gravitt| Fundamental|       Suriname|
|   Gabriel Colyer|       Medio|Guiana Francesa|
|         Mary Lee| Fundamental|Guiana Francesa|
|       Daryl Page|    Superior|       Colombia|
|     Roxie Bernal| Fundamental|Guiana Francesa|
|   Wilfredo Grant| Fundamental|           Peru|
|   Katrina Graham| Fundamental|      Venezuela|
|  Jerry Chynoweth|       Medio|        Uruguai|
|      Jessie Jean|    Superior|        Equador|
|  Kenneth Rayburn|       Medio|        Uruguai|
|       Anita Ross| Fundamental|       Paraguai|
|   Mary Dillahunt| Fundamental|        Uruguai|
|       John Meyer|    Superior|        Equador|
|      Sandra Todd| Fundamental|        Equador|
|    Ricky Gilbert|       Medio|       Paraguai|
|    Michael Agnew|    Superior|        Uruguai|
|   Rosie Lovelady|    Superior|        Bolivia|
|      Donald Vogt|    Superior|           Peru|
| Flossie Anderson| Fundamental|        Bolivia|
|      Lisa Baxley|    Superior|        Uruguai|
|    Milton Dillon|    Superior|           Peru|
|       Ned Tester|    Superior|       Colombia|
|     James Barton|       Medio|        Equador|
|    Lynne Dustman|       Medio|           Peru|
+-----------------+------------+---------------+
only showing top 50 rows

5. Ao dataframe (df_nomes), adicione nova coluna chamada AnoNascimento e atribua para cada linha um valor de ano entre 1945 e 2010, de forma aleatória. 



Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [5]:
cols = list(map(lambda col_name: F.lit(col_name), ['1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']))

df_nomes = df_nomes.withColumn("AnoNascimento", array_choice(F.array(*cols)))

df_nomes.show(50)

+-----------------+------------+---------------+-------------+
|            Nomes|Escolaridade|           Pais|AnoNascimento|
+-----------------+------------+---------------+-------------+
|   Frances Bennet|       Medio|       Paraguai|         1962|
|    Jamie Russell| Fundamental|        Uruguai|         1964|
|   Edward Kistler|       Medio|      Argentina|         1984|
|    Sheila Maurer| Fundamental|         Guiana|         1996|
| Donald Golightly|    Superior|        Equador|         1995|
|       David Gray|       Medio|        Uruguai|         1974|
|      Joy Bennett| Fundamental|       Paraguai|         1967|
|      Paul Kriese|       Medio|        Bolivia|         1978|
|Berniece Ornellas| Fundamental|       Suriname|         1960|
|    Brian Farrell|    Superior|       Colombia|         1947|
|   Kara Mcelwaine|       Medio|       Paraguai|         2003|
|    Tracy Herring| Fundamental|         Guiana|         1976|
|  Howard Lazarine|       Medio|        Uruguai|         1986|
|     Leroy Strahl|       Medio|       Suriname|         1988|
|     Ernest Hulet|    Superior|       Paraguai|         1969|
|     David Medina|    Superior|         Guiana|         1945|
|   Lorenzo Woodis|       Medio|          Chile|         1970|
|      Page Marthe|    Superior|         Guiana|         1999|
|   Herbert Morris|       Medio|Guiana Francesa|         1976|
|      Albert Leef|       Medio|        Bolivia|         1960|
|     Charles Hill| Fundamental|        Bolivia|         1977|
|  Helen Blackwell| Fundamental|          Chile|         1971|
|          Lois Ly|    Superior|       Paraguai|         2003|
|     Rebecca Snow| Fundamental|       Suriname|         1983|
|      Frank Wiley|    Superior|       Suriname|         1971|
| Wallace Mitchell|    Superior|       Colombia|         1977|
|   Amanda Gravitt| Fundamental|       Suriname|         1994|
|   Gabriel Colyer|       Medio|Guiana Francesa|         2000|
|         Mary Lee| Fundamental|Guiana Francesa|         1964|
|       Daryl Page|    Superior|       Colombia|         1994|
|     Roxie Bernal| Fundamental|Guiana Francesa|         1980|
|   Wilfredo Grant| Fundamental|           Peru|         1975|
|   Katrina Graham| Fundamental|      Venezuela|         2010|
|  Jerry Chynoweth|       Medio|        Uruguai|         1963|
|      Jessie Jean|    Superior|        Equador|         2006|
|  Kenneth Rayburn|       Medio|        Uruguai|         2009|
|       Anita Ross| Fundamental|       Paraguai|         1947|
|   Mary Dillahunt| Fundamental|        Uruguai|         1973|
|       John Meyer|    Superior|        Equador|         2010|
|      Sandra Todd| Fundamental|        Equador|         1983|
|    Ricky Gilbert|       Medio|       Paraguai|         1997|
|    Michael Agnew|    Superior|        Uruguai|         1987|
|   Rosie Lovelady|    Superior|        Bolivia|         2000|
|      Donald Vogt|    Superior|           Peru|         1960|
| Flossie Anderson| Fundamental|        Bolivia|         1997|
|      Lisa Baxley|    Superior|        Uruguai|         1955|
|    Milton Dillon|    Superior|           Peru|         2010|
|       Ned Tester|    Superior|       Colombia|         1964|
|     James Barton|       Medio|        Equador|         1970|
|    Lynne Dustman|       Medio|           Peru|         2006|
+-----------------+------------+---------------+-------------+
only showing top 50 rows

6. Usando o método select do dataframe (df_nomes), selecione as pessoas que nasceram neste século. Armazene o resultado em outro dataframe chamado df_select e mostre 10 nomes deste.

In [6]:
df_select = df_nomes.select('Nomes', 'AnoNascimento').where((df_nomes.AnoNascimento>1999))

df_select.show(10)

+---------------+-------------+
|          Nomes|AnoNascimento|
+---------------+-------------+
| Kara Mcelwaine|         2003|
|        Lois Ly|         2003|
| Gabriel Colyer|         2000|
| Katrina Graham|         2010|
|    Jessie Jean|         2006|
|Kenneth Rayburn|         2009|
|     John Meyer|         2010|
| Rosie Lovelady|         2000|
|  Milton Dillon|         2010|
|  Lynne Dustman|         2006|
+---------------+-------------+
only showing top 10 rows

7. Usando Spark SQL repita o processo da Pergunta 6. Lembre-se que, para trabalharmos com SparkSQL, precisamos registrar uma tabela temporária e depois executar o comando SQL. Abaixo um exemplo de como executar comandos SQL com SparkSQL:



df_nomes.createOrReplaceTempView ("pessoas")

spark.sql("select * from pessoas").show()

In [7]:
df_nomes.createOrReplaceTempView ("pessoas")

spark.sql("select * from pessoas where AnoNascimento >= 2000").show(10)

+---------------+------------+---------------+-------------+
|          Nomes|Escolaridade|           Pais|AnoNascimento|
+---------------+------------+---------------+-------------+
| Kara Mcelwaine|       Medio|       Paraguai|         2003|
|        Lois Ly|    Superior|       Paraguai|         2003|
| Gabriel Colyer|       Medio|Guiana Francesa|         2000|
| Katrina Graham| Fundamental|      Venezuela|         2010|
|    Jessie Jean|    Superior|        Equador|         2006|
|Kenneth Rayburn|       Medio|        Uruguai|         2009|
|     John Meyer|    Superior|        Equador|         2010|
| Rosie Lovelady|    Superior|        Bolivia|         2000|
|  Milton Dillon|    Superior|           Peru|         2010|
|  Lynne Dustman|       Medio|           Peru|         2006|
+---------------+------------+---------------+-------------+
only showing top 10 rows

8. Usando o método select do Dataframe df_nomes, Conte o número de pessoas que são da geração Millennials (nascidos entre 1980 e 1994) no Dataset

In [8]:
df_nomes.select('Nomes').where((df_nomes.AnoNascimento>1979) & (df_nomes.AnoNascimento<1995)).count()

2274547

9. Repita o processo da Pergunta 8 utilizando Spark SQL

In [9]:
df_nomes.createOrReplaceTempView ("Millennials")

spark.sql("select count(*) as Millenials from Millennials where AnoNascimento BETWEEN 1980 and 1994").show(10)

+----------+
|Millenials|
+----------+
|   2274547|
+----------+

10. Usando Spark SQL, obtenha a quantidade de pessoas de cada país para uma das gerações abaixo. Armazene o resultado em um novo dataframe e depois mostre todas as linhas em ordem crescente de Pais, Geração e Quantidade

- Baby Boomers – nascidos entre 1944 e 1964;

- Geração X – nascidos entre 1965 e 1979;4

- Millennials (Geração Y) – nascidos entre 1980 e 1994;

- Geração Z – nascidos entre 1995 e 2015.

In [10]:
df_nomes.createOrReplaceTempView ("Tabela")
df_geracoes = spark.sql("""select Pais, case when AnoNascimento BETWEEN 1944 and 1964 then 'Baby Boomers' when AnoNascimento BETWEEN 1965 and 1979 then 'Geração X' when AnoNascimento BETWEEN 1980 and 1994 then 'Millennials (Geração Y)' when AnoNascimento BETWEEN 1995 and 2015 then 'Geração z' end as `Geração`, count(*) as Quantidade from Tabela group by Pais, `Geração`""")

df_geracoes.orderBy("Pais", "Geração", "Quantidade").show()

+---------+--------------------+----------+
|     Pais|             Geração|Quantidade|
+---------+--------------------+----------+
|Argentina|        Baby Boomers|    234157|
|Argentina|           Geração X|    174387|
|Argentina|           Geração z|    186728|
|Argentina|Millennials (Gera...|    175437|
|  Bolivia|        Baby Boomers|    232912|
|  Bolivia|           Geração X|    174288|
|  Bolivia|           Geração z|    186235|
|  Bolivia|Millennials (Gera...|    174812|
|   Brasil|        Baby Boomers|    233575|
|   Brasil|           Geração X|    174955|
|   Brasil|           Geração z|    186769|
|   Brasil|Millennials (Gera...|    175494|
|    Chile|        Baby Boomers|    232936|
|    Chile|           Geração X|    175675|
|    Chile|           Geração z|    186930|
|    Chile|Millennials (Gera...|    174978|
| Colombia|        Baby Boomers|    232614|
| Colombia|           Geração X|    174271|
| Colombia|           Geração z|    186535|
| Colombia|Millennials (Gera...|    175368|
+---------+--------------------+----------+
only showing top 20 rows